# environment
.env.local
.data_origem

# Logs
*.log

# storage
storage/tmp/*
storage/logs/*
storage/cache/*
storage/bkp/*

!storage/tmp/.empty
!storage/logs/.empty
!storage/cache/.empty
!storage/bkp/.empty
